
div.giImageBlock.left {
	float: left;
	margin: 1em;
}

div.giImageBlock.right {
	float: right;
	margin: 1em;
}

div.giImageBlock.nowrap {
	float: none;
	margin: 1em
}

.giImageBlock-clear-both {
  clear: both;
}
